import jenkins.*
import jenkins.model.*
import hudson.*
import hudson.model.*

nodes = hudson.model.Hudson.instance.nodes
for (aSlave in nodes) {
  if(aSlave.name.equals("{{ slave.name }}")) {
    print aSlave.getComputer().getJnlpMac()
    return;
  }
}

