#!groovy
import static com.cloudbees.plugins.credentials.CredentialsScope.GLOBAL
import com.cloudbees.plugins.credentials.domains.Domain
import com.cloudbees.plugins.credentials.SystemCredentialsProvider
import hudson.util.Secret
import org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl

def id = "{{ item.id }}"
def description = "{{ item.description }}"
def secret = "{{ item.secret }}"

def addSecretText(String id, String description, String secretText) {
  def credentialsStore = SystemCredentialsProvider.getInstance().getStore()
  def existingCredential = credentialsStore.getCredentials(Domain.global()).find { c ->
    c instanceof StringCredentialsImpl && c.id == id
  }

  def newCredential = new StringCredentialsImpl(GLOBAL, id, description, Secret.fromString(secretText))

  if (existingCredential) {
    if (Secret.toString(existingCredential.getSecret()) != secretText) {
      def updatedCredential = new StringCredentialsImpl(GLOBAL,
        existingCredential.getId(),
        existingCredential.getDescription(),
        Secret.fromString(Secret.toString(existingCredential.getSecret())))
      credentialsStore.updateCredentials(Domain.global(), updatedCredential, newCredential)
      println "Changed secret text credentials"
    }
  } else {
    credentialsStore.addCredentials(Domain.global(), newCredential)
    println "Changed secret text credentials"
  }
}

addSecretText(id, description, secret)
