#!groovy
import com.cloudbees.plugins.credentials.*
import com.cloudbees.plugins.credentials.domains.*
import org.jenkinsci.plugins.plaincredentials.impl.*

def id = "{{ item.id }}"
def description = "{{ item.description }}"
def filePath = "{{ file_path }}"

def addSecretFileCredential(String id, String description, String secretFileName, String filePath) {
  def secretFile = new File(filePath)
  def secretBytes = SecretBytes.fromBytes(secretFile.bytes)
  def newCredentials = new FileCredentialsImpl(
    CredentialsScope.GLOBAL,
    id,
    description,
    secretFileName,
    secretBytes
  )

  def credentialsStore = SystemCredentialsProvider.getInstance().getStore()
  def existingCredential = credentialsStore.getCredentials(Domain.global()).find { c ->
    c instanceof FileCredentialsImpl && c.id == id
  }

  if (existingCredential) {
    if (existingCredential.getFileName() != secretFileName
         || existingCredential.getSecretBytes() != secretBytes) {
      def updatedCredential = new FileCredentialsImpl(
        CredentialsScope.GLOBAL,
        existingCredential.getId(),
        existingCredential.getDescription(),
        existingCredential.getFileName(),
        existingCredential.getSecretBytes()
      )
      credentialsStore.updateCredentials(Domain.global(), updatedCredential, newCredentials)
      println "Changed secret file credentials"
    }
  } else {
    credentialsStore.addCredentials(Domain.global(), newCredentials)
    println "Changed secret file credentials"
  }
}

addSecretFileCredential(id, description, id, filePath)
